body{
	margin: 0;
	background-color: #EEEEEE;
}

#start{
	margin:0;
	padding:0;
}

.header{
	height:84px;
	width:100%;
	background:#007765;
	margin: 0;
	position:fixed;
	display:block;
	z-index: 255;
}

#logo{
	height: 45px;
	padding-bottom: 19px;
	padding-top: 20px;
	float:left;
}


.header .links{
	display: inline-block;
	float:right;

}

.header ul{
	list-style-type: none;
	display: inline-block;
	margin-bottom: 26px;
	margin-top:29px;
}


.header li{
	display:inline-block;
	font-size: 24px;
	font-family: sans-serif;
	font-style: normal;
	text-align: center;
	border-right:solid 2px white;


}

.header .links a{
	text-decoration: none;
	color:white;

	margin-left: 10px;
	margin-right: 10px;
}

.header .links a:hover{
	text-decoration: underline;
}

#teamlink{
	border-right:none;
}

#pn-is-here{
	color:red;
	font-size: 150px;
}

#pipernet{
	width:100%;
	position: relative;
	margin-bottom: 0;
}



#pn{
	margin:0 25% 0 25%;
  	width:50%;
}

#pn-img{
	background-image: url(pipernet.png);
	width:100%;
	background-size: cover;
	height: 478px;
	z-index: 30;
}

#pipernet h1{
	color:white;
	font-size: 72px;
	font-family: sans-serif;
	z-index: 25;

	top:180px;
	bottom:180px;
	position: absolute;

}

h1{
	color:#007765;
	font-size: 72px;
	font-family: sans-serif;
	z-index: 25;

}


.ordinary content p{
	font-size: 32px;
	text-align: left;
	font-family: sans-serif;
	margin-bottom: 0;
}

.ordinary{
	background-color: #EEEEEE;
	margin: 0;
	padding-top: 48px;
	padding-bottom: 92px;

	width: 100%;

	margin:0;

	z-index: 50;

}


#hero{
	background-image: url(hero.png);
	width:100%;
	background-size: cover;
	margin:0;
	
}

#hero content{
	width: 893px;
}

#hero h2{
	color: white;
	font-style: italic;
	font-size:48px;
	font-family: sans-serif;
	padding-top: 128px;
	padding-bottom: 127px;
	font-weight: normal;
}

#ppc-logo{
	width: 115px;
	height: 115px;
	margin-left: 0;
	float: left;
	margin-right: 48px;
}

#coin{
	background-color: white;
	margin-top: -40px;
}

content{

	text-align: center;
	width:1219px;
	margin:auto;
	margin-top:0;
	margin-bottom: 0;
	padding-left: 55px;
	padding-right: 55px;
	display:block;

}

.team-member{
	display: inline-block;
	margin-top:-48px;
}

.team-member img{
	width: 168px;
	height: 168px;
	margin:0;
	margin-top:56px;
	margin-bottom: 12px;
	padding-right: 91px;
	padding-left: 91px;
	padding-top: 24px;
}

.team-member h4{
	color:#007765;
	font-family: sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;

	margin: 0;
}

.team-member h5{
	color:black;
	font-family: sans-serif;
	font-style: italic;
	font-weight: normal;
	font-size: 18px;

	margin: 0;

	padding-bottom: 28px;
}

footer{
	background-color:  #333333;
	width:100%;
}

footer p{
	width:540px;
	padding-top: 48px;
	padding-bottom: 64px;
	text-align: center;
	color:white;
	margin: auto;

	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
}